# Byte-compiled / cache files
_pycache_/
*.py[cod]
*.pyo

# PyCharm project files
.idea/

# Test reports and logs
*.log
*.html
*.xml

# Selenium driver (optional if you're keeping it in Git)
chromedriver.exe

# Environment files
.env
.venv/
venv/

# OS-specific files
.DS_Store
Thumbs.db